@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg-color: #09090B;
	--main-text-color: #A1A1AA;
	--accent-text-color: #E4E4E7;
	--accent-color: #22D3EE;
	
	--font-family: 'Inter', sans-serif;

	--nav-height: 74px;
}

::-moz-selection { /* Code for Firefox */
	color: var(--bg-color);
	background: var(--accent-color);
}
  
::selection {
	color: var(--bg-color);
	background: var(--accent-color);
}

::-webkit-scrollbar {
	width: 6px;
}
  
::-webkit-scrollbar-track {
	background: var(--bg-color);
}
  
::-webkit-scrollbar-thumb {
	background-color: var(--main-text-color);
	border-radius: 10px;
}

html{
	@apply scroll-smooth
}

body {
	font-family: var(--font-family);
	@apply m-0 bg-[--bg-color] text-[--main-text-color] overflow-hidden min-[992px]:overflow-auto
}

svg {
	@apply fill-[#A1A1AA] transition ease-in cursor-pointer
}

svg:hover {
	@apply fill-[--accent-text-color]
}

.header {
	@apply inline-block font-bold text-[40px] bg-gradient-to-r from-white from-10% to-[#71717A] text-transparent bg-clip-text leading-[3rem]
}

.card {
	@apply flex flex-col bg-[#18181B] rounded-2xl border-2 border-[#202020] pb-8
}

.card h5 {
	@apply text-[--accent-text-color] pt-5 pb-3
}

.card h5,
.card p {
	@apply px-8
}

.cursor {
	background: radial-gradient(400px at 320px, rgba(34, 211, 238, .15), transparent 80%);
	@apply fixed left-0 top-0 w-[650px] h-[650px] pointer-events-none select-none
}